@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body{
  background-image: linear-gradient(to right, #074666, #0B0027); /* Replace these colors with your desired ones */
}

.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" based on browser support */
  scrollbar-color: #babcbe #f5f5f5; /* thumb color and track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6a747e; /* color of the thumb */
  border-radius: 5px; /* border radius of the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* color of the track */
}
